
STM32/.settings/language.settings.xml
*.o
STM32/Debug
*.log
STM32/Release
STM32/prog1Proj Debug.launch
STM32/.settings/com.st.stm32cube.ide.mcu.sfrview.prefs
STM32/prog1Proj Debug.launch
STM32/prog1Proj Debug.launch
